@import url('https://fonts.googleapis.com/css?family=Acme|Amatic+SC|Lobster|Shadows+Into+Light&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
   
    margin: 0;
    padding: 0;
}

.nav h3{
    font-size: 30px;
    margin-top: 13px;
    margin-right: 900px;
    font-family: 'Lobster', cursive;
    color: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,118,0.24693627450980393) 11%, rgba(0,212,255,1) 100%);
}
.nav i{
    padding: 5px;
}

.nav{
    width: 100%;
    height:60px;
    background-color: #07a8bd;
    display: flex;
    justify-content: flex-start;
}


.nav ul{
    list-style-type: none;
    line-height: 2;
}
.nav li a{
    text-decoration: none;
    color: black;
    
}

.nav ul li{
    font-family: 'Lobster', cursive;
    font-size: 20px;
    padding: 10px;
}
.nav ul li:hover{
    font-family: 'Lobster', cursive;
    font-size: 20px;
    background: royalblue;
    padding: 10px;
}


@media(max-width:"954px"){
    img{
        width: 200px;
        height: 200px;
    }
}